.container {
    min-height: calc(100vh - 160px);
    padding: 20px 17% 50px 17%;
}

.decoration {
    font-weight: 1000;
    font-size: 33px;
}

.boardtitle {
    font-size: 30px;
    font-weight: 600;
    color: #ac2323;
    margin: 25px 0 25px 0;
}

.boardnav {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 20px 0;
    min-width: 900px;
}

.select {
    margin-right: 10px;
    width: 95px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #ac2323;
    border: none;
    cursor: pointer;
}

.unselected {
    margin-right: 10px;
    width: 95px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border: 2px solid gray;
    cursor: pointer;
}

.filterbox {
    position: relative;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.filter img {
    width: 25px;
}

.filteroption {
    position: absolute;
    z-index: 1000;
    background-color: #f4f4f4;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    width: 270px;
    right: 0;
    top: 47px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
}

.filteroption2 {
    position: absolute;
    z-index: 1000;
    background-color: #f4f4f4;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    width: 335px;
    right: 0;
    top: 47px;
    padding: 12px 10px 12px 20px;
    display: flex;
    flex-direction: column;
}

.gender {
    margin-bottom: 15px;
}

.gender div:nth-child(1) {
    font-weight: 600;
    margin-bottom: 10px;
}

.genderoption {
    display: flex;
    justify-content: space-between;
    width: 190px;
    accent-color: #ac2323;
}

.voteoption {
    display: flex;
    justify-content: space-between;
    width: 270px;
    accent-color: #ac2323;
}

.categoryoption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    accent-color: #ac2323;
}

.categoryoption label {
    width: 16%;
    margin-right: 25px;
}

.apply {
    background-color: #ac2323;
    border-radius: 8px;
    border: none;
    padding:  5px 15px;
    color: white;
    cursor: pointer;
    align-self: center;
}

.write {
    background-color: white;
    border: 2px solid #ac2323;
    font-weight: 600;
    width: 75px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.posthead {
    background-color: #f7f7f7;
    min-width: 1000px;
}

.posthead th:nth-child(6), th:nth-child(7) {
    position: relative;
}
.posthead span {
    position: absolute;
    font-size: 23px;
    font-weight: 800;
    bottom: 7px;
}

.posttable {
    border-collapse: collapse;
    min-width: 1000px;
}

.posttable th {
    border-top: 2px solid #ac2323;
    border-bottom: 1px solid #ac2323;
    padding: 10px 0 10px 0;
}

.posttable td:not(:nth-child(3)){
    text-align: center;
}

.posttable td {
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid lightgray;
}

.searchbox {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.search {
    width: 160px;
    height: 23px;
}

.searchbar {
    position: relative;
}

.searchbar input {
    padding-left: 8px;
    height: 30px;
    width: 200px;
}

.searchbar img {
    position: absolute;
    width: 20px;
    right: 8px;
    bottom: 8px;
}

.searchoption {
    border: 2px solid lightgray;
    width: 100px;
    margin-left: 20px;
    padding-left: 5px;
    background-color: #f7f7f7;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.posttable tbody tr:hover {
    background-color: #e6e6e6;
}