.container {
    min-height: calc(100vh - 160px);
    padding: 20px 17% 50px 17%;
    display: flex;
}

.sidebar {
    width: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 20px;
    border-top: 3px solid #ac2323;
    font-size: 24px;
    font-weight: 600;
    background-color: #f7f7f7;
    color: #ac2323;
    width: 65%;
    text-align: center;
}

.select {
    padding: 20px;
    background-color: #ac2323;
    width: 65%;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.unselected {
    padding: 20px;
    background-color: white;
    color: gray;
    font-size: 18px;
    width: 65%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.mypage {
    font-size: 30px;
    font-weight: 600;
    color: #ac2323;
    padding-bottom: 8px;
    border-bottom: 2px solid #ac2323;
}

.profile {
    margin-top: 15px;
    background-color: #f7f7f7;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.imagebox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.imagebox img {
    width: 100px;
    margin-right: 10px;
}

.namebox div {
    color: #468FD3;
}

.namebox span {
    font-size: 25px;
}

.namebox img {
    width: 27px;
    margin-left: 10px;
    vertical-align: bottom;
}

.userinfo {
    padding: 10px;
    color:dimgray;
}

.userinfo span {
    color: black;
    margin-left: 10px;
    font-weight: 600;
}

.posting {
    margin-top: 15px;
    padding: 15px;
}

.inactive {
    margin-right: 15px;
    padding: 6px;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}

.active {
    color: #ac2323;
    border-bottom: 4px solid #ac2323;
    margin-right: 15px;
    padding: 6px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.postlist {
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-top: 30px;
    position: relative;
}

.plus {
    position: absolute;
    top: -30px;
    right: 5px;
    color: gray;
    cursor: pointer;
}

.post {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.post div:nth-child(1){
    font-size: 18px;
}

.post div:nth-child(1) span {
    color: #ac2323;
    font-weight: 600;
}

.commentbox {
    display: flex;
    flex-direction: column;
    padding: 10px 0 30px 0;
    height: 30px;
    border-top: 1px solid lightgray;
}

.commentitem {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
}

.commentitem div {
    font-size: 17px;
    font-weight: 600;
}

.commentitem2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.commentitem2 span {
    color: #ac2323;
    font-weight: 600;
}
.commentitem2 div:nth-child(1) {
    margin-left: 15px;
}


.modal {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  
    width: 600px;
    height: 460px;
  
    background-color: #f7f7f7;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 0;
  }

.modalheader {
    height: 40px;
    background-color: #ac2323;
    color: white;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalbody {
    padding: 20px;
}

.profiletable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.profiletable img {
    width: 135px;
    height: 135px;
    border-radius: 10000px;
    margin-bottom: 15px;
    padding: 2px;
    border: 1px solid lightgray;
    background-color: #f7f7f7;
}

.editprofile {
    display: flex;
    justify-content: space-between;
}

.filebox label {
    cursor: pointer;
    display: inline-block;
    background-color: #ac2323;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    padding: 5px;
    width: 170px;
    text-align: center;
    margin-right: 10px;
}

.filebox input {
    display: none;
    white-space: nowrap;
}

.editprofile button {
    width: 170px;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #C2C2C2;
    color: white;
    cursor: pointer;
}

.profiletable2 {
    border-collapse: separate;
    border-spacing: 75px 10px;
    font-size: 20px;
}

.nickname {
    width: 245px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

.titlebox {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.titleoption {
    width: 130px;
    padding: 5px;
}

.checkbox {
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 10px;
    width: 20px;
}

.buttonbox2 {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonbox2 button:nth-child(1) {
    width: 80px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ac2323;
    color: white;
    cursor: pointer;
}

.buttonbox2 button:nth-child(2) {
    width: 80px;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    background-color: #C2C2C2;
    color: white;
    cursor: pointer;
}