/*최상단 헤더*/
.header {
    position: fixed;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;

    display: flex; 
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
    padding: 0 17% 0 17%;
    background-color: white;
    box-shadow: 10px 0 20px gray;

    min-width: 1000px; /*배율 확대했을 때 뭉개지는거 방지*/
}

.logo {
    width: 160px;
}

.searchbar {
    width: 400px;
    position: relative;
}

.searchbar img {
    position: absolute;
    width: 25px;
    right: 13px;
    bottom: 10px;
}

.search {
    width: 380px;
    height: 40px;
    border: 3px solid #ac2323;
    border-radius: 12px;
    font-size: 15px;
    padding-left: 10px;
}

.loginbar {
    position: relative;
    display: flex;
    align-items: center;
}

.loginbar img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.loginbox {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.login {
    font-size: 1.3em;
    font-weight: 550;
    margin-right: 20px;
    white-space: nowrap;
}

.signup {
    font-size: 1.3em;
    font-weight: 550;
    white-space: nowrap;
}

/*네비게이션 메뉴바*/
.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 1000px;
    height: 46px;
    margin: 110px 0 0 0;
    padding: 0 17% 0 17%;
    white-space: nowrap;
    
    background-color: #3B3939;
    color: white; 
}

.navTable {
    border-collapse: collapse;
    height: 100%;
    width: 550px;
    font-weight: 600;
}

.navTable td {
    vertical-align: middle;
    text-align: center;
}

.navTable td:hover {
    background-color: #ac2323;
    color: white;
}

.active {
    background-color: #ac2323;
    color: white;
}

.rightMenu {
    font-size: 17px;
    font-weight: 600;
}

.category {
    text-decoration: none;
    color: white;
    margin: 0 13px;
}

.rankinglink {
    text-decoration: none;
    color: white;
    margin-left: 13px;
}

.link {
    text-decoration: none;
    color: white;
}