.container {
    display: flex;
    justify-content: center;
    margin: 1% 30% 0 30%;
    padding: 2% 5% 2% 5%;
    min-height: calc(100vh - 160px);
}

.signupform {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.namebox {
    display: flex;
    justify-content: space-between;
    width: 455px;
}

.formName {
    font-size: 13px;
    color: gray;
}

.formValue {
    width: 445px;
    height: 40px;
    margin: 2% 0 4% 0;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: ghostwhite;
    font-size: 14px;
}

.formValue2 {
    width: 200px;
    height: 40px;
    margin: 2% 0 4% 0;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: ghostwhite;
    font-size: 14px;
}

.signupButton {  
    width: 458px;
    height: 40px;
    margin: 3% 0 8% 0;
    border: none;
    background-color:#ac2323;
    color: white;
    border-bottom: 1px solid gray;
}

.kakao {
    width: 458px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:gold;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.google {
    width: 458px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285F4;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.email {
    width: 458px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    font-weight: 600;
    margin-bottom: 30px;
}

.boundary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 458px;
    margin-bottom: 20px;
    color: gray;
}

.boundary hr {
    width: 200px;
    margin: 0;
}

.loginbox {
    padding-top: 20px;
    border-top: 1px solid gray;
    width: 458px;
}

.login {
    margin-top: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #ac2323;
}