.App {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.link2 {
  text-decoration: none;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.flexbox2 {
  display: flex;
}


.pagination {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  margin-left: 24%;
  gap: 0.7rem;
  list-style: none;
}

.pagination_link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
}

.pagination_active_link {
  text-decoration-line: underline;
  color: #ac2323;
  font-weight: 600;
}


.react-datepicker-popper {
  transform: translate(250px, 840px) !important;
}

.react-datepicker__input-container input {
  padding: 7px !important;
  width: 120px !important;
}